* {
  font-family: 'Montserrat', 'sans-serif';
  color: #ffffff;
}

html {
  height: 100vh;
  width: 100vw;
}

body, html {
  background-color: #161C23;
  padding-bottom: 4%;
}

h1 {
  text-align: center;
}

h2, h3 {
  font-size: 2em;
  padding-top: 1%;
  color: #3cba9f;
  margin-left: 1%;
}

h3{
  margin-top: 6%;
}

.fas {
  margin-right: 1%;
}

header {
  background-color: #3c3e3c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.greeting {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 6%;
  margin-left: 6%;
}

.user-stride, .user-step-goal, .user-address, .user-email {
  margin-top: -1em;
  margin-right: .5em;
  font-size: 1.2em;
}

.profile-sections {
  font-weight: bold;
  font-size: 1.5em;
  color: #3cba9f;
}

.step-info {
  font-size: 1.5em;
  padding: 1%;
  height: 100%;
  width: 20%;
  border: 1px solid #3cba9f;
  text-align: center;
  border-radius: 2%;
}

.steps-goal, .average-steps {
  margin: 0;
  font-weight: 500;
  padding: 5%;
}

.steps, .avg-user-steps {
  font-size: 1.75em;
  font-weight: lighter;
  padding: 2.5%;
}

.steps-goal {
  color: #3e95cd;
}

.average-steps {
  color: #8e5ea2;
}

.hydration-section, .sleep-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  height: 75%;
  width: 100%;
  margin-bottom: -5%;
  margin-left: 1%;
}

.info-card {
  display: flex;
  justify-content: center;
  background-color: #3c3e3c;
  width: 90%;
  height: 100%;
  border-radius: 2.5%;
}

.user-profile-info {
  display: flex;
  justify-content: space-evenly;
  margin-left: 4%;
}

.water-stat {
  display: flex;
  flex-direction: column;
}

.steps-chart {
  height: 25%;
  width: 25%;
  float: right;
}

.weekly-hydration-chart,
.weekly-sleep-chart,
.daily-water-chart {
  height: 70%;
  width: 70%;
  padding: 1em;
}

h4, h5, h6 {
  font-size: 1.8em;
  font-weight: lighter;
  text-align: center;
  margin: 5%;
}

.display-number {
  font-size: 4em;
}

.water-text-styling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sleep-card-styling {
  display: flex;
  flex-direction: column;
}

.adjacent-stats {
  display: flex;
  justify-content: space-evenly;
}

.sleep-word-alignment {
  display: flex;
  flex-direction:column;
  align-items:center;
}

@media screen and (max-width: 1050px) {

  .step-info {
    font-size: 1.5em;
    height: 50%;
    width: 50%;
    margin-bottom: 1em;
  }

  .steps-goal, .average-steps {
    font-weight: 500;
    padding: 3%;
  }

  .steps-chart {
    height: 40%;
    width: 40%;
  }
}


@media screen and (max-width: 768px) {

  h1 {
    text-align: left;
  }

  header {
    width: 100%;
    height: 20%;
  }

  .user-stride, .user-step-goal, .user-address, .user-email {
    margin-top: -1em;
    font-size: 1.5em;
  }

  .step-info {
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 40%;
    width: 40%;
  }

  .steps-goal, .average-steps {
    font-weight: 500;
    padding: 2%;
    font-size: .8em;
  }

  .steps, .avg-user-steps {
    font-size: 1.8em;
  }

  .steps-chart {
    height: 40%;
    width: 40%;
  }

  h2, h3 {
    font-size: 2.25em;
    padding-bottom: .25em;
    border-bottom: 3px solid #3e95cd;
  }

  h4, h5, h6 {
    margin-top: 0;
  }

  .display-number {
    font-size: 3.8em;
  }

  .hydration-section, .sleep-section {
    margin-left: 15%;
    grid-template-columns: repeat(1, 1fr);
    gap: .4em;
  }

  .info-card {
    width: 70%;
    height: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .weekly-hydration-chart, .weekly-sleep-chart {
    height: 50%;
    width: 70%;
  }

}
