* {
  font-family: 'Montserrat', 'sans-serif';
  color: #ffffff;
}

body, html {
  background-color: #161C23;
}

h1 {
  font-size: 20px;
}

h2, h3 {
  font-size: 18px;
}

header {
  display: flex;
  background-color: #3c3e3c;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
  border-top: 3px solid blue;
  padding-top: 15px;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #3c3e3c;
  width: 22%;
  height: 100%;
  border-radius: 10px;
}

.sleep-section {
  height: 30vh;
}

.hydration-section {
  height: 30vh;
}

.user-profile-info {
  display: flex;
  justify-content: space-evenly;
}

.stat {
  display:flex;
  flex-direction: column;
}

/* .adjacent-stats {
  display:flex;
  /* justify-content: space-around; */


.steps-chart {
  height: 25%;
  width: 25%;
  float: right;
}

.weekly-hydration-chart {
  height: 75%;
  width: 75%;
}

.weekly-sleep-chart {
  height: 75%;
  width: 75%;
  align-items: center;
}

.daily-water-chart {
  height: 75%;
  width: 75%;
}

.display-number {
  font-size: 60px;
}

h4, h5, h6 {
  font-size: 15px;
  text-align: center;
}

.water-text-styling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .hydration-text-styling {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.info-card-stat {
  display: flex;
  align-items: column;
}
